<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <h2>Edit Your Data</h2>
            </tr>
            <tr>
                <td>Title :</td>
                <td><input type="text" name="title" value="<%= vdata.title %>" required></td>
            </tr>
            <tr>
                <td>Detail :</td>
                <td><input type="text" name="details" value="<%= vdata.detail %>" required></td>
            </tr>
            <tr>
                <td>Price :</td>
                <td><input type="text" name="price" value="<%= vdata.price %>" required></td>
            </tr>
            <tr>
                <td>Category :</td>
                <td><input type="text" name="category" value="<%= vdata.category %>" required></td>
            </tr>
            <tr>
                <td><input type="submit">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>