<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>

        <% for(var i=0; i<mydata.length; i++) {%>

          <tr>
            <td><%= i+1 %></td>
            <td><img src="/public/upload/<%=mydata[i].venuepic%>" ></td>
            <td><%=mydata[i].venueName%></td>
            <td><%=mydata[i].venueprice%></td>
          </tr>

          <%}%>
      </table>

</body>
</html>