<header id="nav-bar" class="nav-bar" style="background-color: thistle;">
	<div class="container">
		<div class="row"> 
			<div class="col-md-2 col-sm-3">
				

			</div>
			<div class="col-md-10 col-sm-9">
				<div class="navigation">
					<div id="cssmenu">
						<ul class="css-menu">
							<li class="active"><a href="userside">Home</a>
							</li>

							<li class="venue"><a href="menu">Venue<i class="" aria-hidden=""></i></a>
							</li>

							<li><a href="about">About<i class="" aria-hidden="true"></i></a>
							</li>
							
							<li><a href="/contact">Contact<i class=""></i></a>
							</li>

							<li><a href="userlogin">Login</a></li>
							<li><a href="/usersignup">SignUp</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>